.parentBox {
    width: 100%;
    height: 100vh;
    display: grid;
    /* grid-template-columns untuk mengatur bagian baris mendapatkan berapa persen dari total display */
    /* grid repeat di gunakan agar tidak terjadi pengulangan terus menerus
       parameter pertama berapa baris yang harus di perulang dan berapa ukurannya 
    */
    grid-template-columns: repeat(3, 2fr);

    /* grid-template-rows mengatur berapa bagian colomn untuk mendapatkan berapa persen dari total display */
    grid-template-rows: repeat(3, 25%);
}

.box {
    margin: 5px;
    border: 1px dashed black;
}