/* tablet display */
@media screen and (max-width: 1000px) {
  .card {
    grid-template-columns: repeat(3, 1fr);
  }
   header > nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-item ul.hamburger-toogle {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vh;
    background-color: #19a7ce;
  }

  .nav-item ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-item > h1 {
    display: flex;
    margin-left: 12px;
  }
  #hamburger-menu {
    display: flex;
    min-width: 44px;
    min-height: 44px;
  }
}

/* mini tablet display */
@media (max-width: 700px){
    .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .nullDataFavorite{
    font-size: 25px;
  }
}

/* mobile display */
@media (max-width: 520px) {
  header > nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-item ul.hamburger-toogle {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vh;
    background-color: #19a7ce;
  }

  .nav-item ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-item > h1 {
    display: flex;
    margin-left: 12px;
  }
  #hamburger-menu {
    display: flex;
    min-width: 44px;
    min-height: 44px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-item > h1{
    font-size: 25px;
  }

  .card-content > .location{
    font-size: 19px;
  }

  .detail_content {
        flex-direction: column;
    }
  .header-content{
      width: 100%;
      height: 50vh;
  }
  .header-content > img {
      width: 100%;
      height: 50vh;
  }
  .detail_item {
      width: 100%;
  }
  .nullDataFavorite{
    font-size: 19px;
  }
}
