/* tablet display */
@media screen and (max-width: 1000px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal-content {
    width: 90%;
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .modal-content > img {
    height: 50%;
    width: 100%;
    border-radius: 3px;
  }

  .modal-item {
    width: 100%;
  }
}

/* mobile display */
@media (max-width: 600px) {
  header > nav {
    flex-direction: column;
  }

  .nav-logo {
    display: flex;
    justify-content: space-between;
  }


  .nav-item ul.hamburger-toogle {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .nav-item ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-item > h1 {
    display: flex;
    margin-left: 12px;
  }
  #hamburger-menu {
    display: flex;
    min-width: 44px;
    min-height: 44px;
  }

  .jumbotron-title {
    font-size: 40px;
  }
  .jumbotron-subtitle {
    font-size: 18px;
  }

  .detail{
    font-size: 16px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-item > h1{
    font-size: 25px;
  }

  .card-content > .location{
    font-size: 19px;
  }

  .modal-content {
    width: 90%;
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .modal-content > img {
    height: 30%;
    width: 100%;
    border-radius: 3px;
  }

  .modal-item {
    width: 100%;
  }

  .modal-item p{
    letter-spacing: .5px;
  }

  .close-modal {
    padding: 5px;
    font-size: 30px;
  }
  
}
