div{
    border: 5px solid black;
    width: 30%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
form input{
    margin: 5px ;
}
#getTampil{
   cursor: pointer;
}
