<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Starter Project Katalog Restaurant">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <title>Starter Project Katalog Restaurant</title>
</head>
<body>
    <a tabindex="0" aria-label="Skip Ke Konten Katalog Restoran" id="skip_content"  href="#content">Skip Ke Konten</a>
    <header>
        <!-- navbar -->
        <nav>
            <div class="nav-logo">
                <h1> <i class="fas fa-utensils"></i>  Restaurant Catalog</h1>
                <button aria-label="navigasi Menu"  id="hamburger-menu"><i class="fas fa-bars"></i></button>
            </div>
            <div class="nav-item ">
                <ul class="" id="tab_navigation">
                    <li><a href="" id="home" class="active">Home</a></li>
                    <li><a href="#/restaurant">Restaurant</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a target="_blank"  href="https://github.com/laoderidho">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
     
    <main tabindex="0" id="content"></main>
</body>
</html>