.parentBox{
    width: 100%;
    height: 100vh;
    display: grid;
    /* grid-template-columns untuk mengatur bagian baris mendapatkan berapa persen dari total display */
    grid-template-columns: 25% 25% 25% 25%;

    /* grid-template-rows mengatur berapa bagian colomn untuk mendapatkan berapa persen dari total display */
    grid-template-rows: 25% 25% ;
}
.box{
    margin: 5px;
    border: 1px dashed black;
}


.box-red{background-color: red;}
.box-yellow{background-color: yellow;}
.box-green{background-color: green;}
.box-black{background-color: black;}

