

body{
    font-family: sans-serif;
}
h2{
    color: #002ac6;
}

h3{
    color: #002ac6;
}

footer{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #00a2c6;
    color: white;
}