<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Movie Catalogue</title>
</head>

<body>
    <header>
        <div class="menu">
            <button id="hamburger">☰</button>
        </div>

        <div class="brand">
            <h1>Movie Katalog</h1>
        </div>

        <nav id="navigation_drawerr">
            <ul>
                <li><a href="#/now_playing"></a></li>
                <li><a href="#/upcoming">Upcoming</a></li>
            </ul>
        </nav>
    </header>

    <main id="main_content"></main>

    <footer>
            <p>All data obtained from <a href="https://themoviedb.org" target="_blank" rel="noreferrer">TheMovieDB</a></p>
    </footer>


</body>

</html>